@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/color\s' as *;

.video-info {
  
  &__title {
    @include font-page-header-mobile;
    @include header-mobile-padding;
    @include divider-bottom ;
    padding-left: 0;
    padding-right: 0;
    margin: 0 $mobile-component-padding;

    @include tablet {
      @include header-tablet-padding;
      margin: 0;
      padding-bottom: $form-label-space;
      border: none;
    }

    @include desktop {
      padding-left: 0;
    }
  }
  
  &__content {
    @include header-mobile-padding;
    @include font-body-mobile;
    margin: 0;
    padding-bottom: 0;
    
    @include tablet {
      @include header-tablet-padding;
      margin: 0;
      padding-bottom: 0;
    }
    
    @include desktop {
      padding-left: 0;
    }
  }
}
