@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.comment-input {
  display: flex;
  flex-wrap: wrap;
  
  &__header {
    @include font-subheader;
    @include element-mobile-padding;
    padding-left: $mobile-component-padding;
    padding-right: $mobile-component-padding;
    width: 100%;
    margin: 0;
    
    @include tablet {
      @include header-tablet-padding;
      margin: 0;
    }

    @include desktop {
      padding-left: 0;
    }
  }

  &__form {
    padding-bottom: $mobile-component-padding;
    margin: 0 $mobile-component-padding;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    
    @include tablet {
      padding-bottom: $tablet-component-padding;
      margin: 0 $tablet-component-padding;
    }

    @include desktop {
      margin-left: 0;
    }
  }

  &__avatar {
    @include avatar;
    position: relative;
    top: 1.5rem;

    &--disabled {
      filter: grayscale(1);
    }
  }

  &__right {
    box-sizing: border-box;
    width: 100%;
    padding-left: $mobile-component-padding;
    display: flex;
    flex-direction: column;
    
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: $tablet-comment-vertical-padding;
    }

    @include desktop {
      padding-left: $tablet-component-padding;
    }
  }

  &__right-container {
    @include tablet {
      white-space: nowrap;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      align-items: baseline;
    }
  }

  &__label {
    @include font-label-button;
    padding-bottom: $form-label-space;
    color: $secondary-font-color;

    &--error {
      @extend .comment-input__label;
      margin-top: $form-label-space;
      margin-bottom: $form-label-space;
      color: $form-border-error-color;
    }
    
    &--disabled {
      @extend .comment-input__label;
      margin-top: $form-label-space;
      margin-bottom: $form-label-space;
      color: $white;

    }

    @include tablet {
      box-sizing: border-box;
      width: 100%;
    }
  }

  &__field {
    @include form;
    margin-bottom: $mobile-component-padding;
    resize: none;
    height: 5rem;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;

     @include tablet {
      height: 42px;
      margin-right: $tablet-comment-vertical-padding;
      margin-bottom: 0;
    }
    @include desktop {
      margin-right: $tablet-component-padding;
    }

    &--active {
      @extend .comment-input__field;
      border-color: $form-border-active-color;

    }

    &--invalid {
      @extend .comment-input__field;
      border-color: $form-border-error-color;
      
      &:focus {
        border-color: $form-border-error-color;
      }
    }

    &--disabled {

      &::placeholder {
        color: $alabaster;
      }
    }
  }

  &__button {
    @include button;
    @include font-label-button;
    background-image: url('../../assets/Icons/add_comment.svg');

    @include tablet {
      @include button;
      display: inline-block;
      padding: 0 $cta-tablet-horizontal-padding;
    }

    &--disabled {
      filter: grayscale(1);

      &:hover {
        background-color: $cta-background-color;
        cursor: initial;
      }
    }
  }
  
  &__button-text {
    @include font-label-button;
    @include button-text;
  }
}