@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/color\s' as *;

.upload-page {
  @include divider-top;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
  padding-left: $mobile-component-padding;
  padding-right: $mobile-component-padding;
  padding-bottom: $mobile-component-padding;
  
  @include tablet {
    padding-left: $tablet-component-padding;
    padding-right: $tablet-component-padding;
    padding-bottom: $tablet-component-padding;
  }
  
  @include desktop {
    padding-left: $desktop-upload-horizontal-padding;
    padding-right: $desktop-upload-horizontal-padding;
    padding-bottom: $desktop-upload-horizontal-padding;
  }

  &__headline {
    @include font-page-header-mobile;
    @include header-mobile-padding;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    @include desktop {
      @include header-mobile-padding;
      @include divider-bottom;
      margin-left: $mobile-component-padding;
      margin-right: $mobile-component-padding;
      padding-left: 0;
      padding-right: 0;

    }

    &--submitted {
      @extend .upload-page__headline;
      border: none;
      margin-top: 5rem;
    }
  }

  &__form {

    @include desktop {
      padding-top: $tablet-comment-vertical-padding;
      display: flex;
      flex-wrap: wrap;
      padding-left: $mobile-component-padding;
      padding-right: $mobile-component-padding;
    }
  }

  &__form-block {
    
    @include desktop {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
      
    }
  }

  &__image {
    box-sizing: border-box;
    margin-bottom: $mobile-component-padding;
    border-radius: $cta-border-radius;
    bottom: 0;
    width: 100%;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__label {
    display: block;
    margin: 0;
    @include font-label-button-mobile;
    color: $secondary-font-color;
    
    @include desktop {
      width: 100%;
      flex: 1.25;
    }

    &--image{
      @extend .upload-page__label;
      display: inline-flex;
      flex-direction: column;
      width: fit-content;
      
      @include desktop {
        margin-right: 1.5rem;
        flex: 0.5;
        height: 100%;
      }
    }
  }


  &__input {
    @include form;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: $mobile-component-padding;

    
    &--big {
      @extend .upload-page__input;
      @include form;
      resize: none;
      height: 5rem;

      @include desktop {
        height: 8vw;
      }
    }

    &--invalid {
      @extend .upload-page__input;
      border-color: $form-border-error-color;
    }
  }

  &__button-block {

    @include tablet{
      display: flex;
      justify-content: flex-end;
    }

    @include desktop {
      @include divider-top;
      width: 100%;
      margin-top: $mobile-component-padding;
      padding-top: $tablet-comment-vertical-padding;
    }
  }

  &__publish-button {
    @include button;
    @include font-label-button-mobile;
    @include button-text;
    display: block;
    margin-bottom: $mobile-component-padding;
    background-image: url('../../assets/Icons/publish.svg');

    @include tablet {
      order: 2;
      margin-left: $tablet-component-padding;
    }
  }

  &__cancel-button {
    @include button-alt;
    @include font-label-button-mobile;
    margin-bottom: $mobile-component-padding;

    @include tablet {
      order: 1;
    }
  }

  &__submitted-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}