//primary colors
$brainFlix-black: #323232;
$brainFlix-blue: #0095FF;
$silver: #AFAFAF;
$white: #FFF;

//secondary colors
$brainFlix-darkBlack: #000;
$brainFlix-darkBlue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;