@use './variables' as *;
@use './colors' as *;
@use './breakpoints' as *;

// Padding for block, element and headers
@mixin block-mobile-margin {
  margin: $mobile-component-padding 0;
  padding: 0 $mobile-component-padding;
}

@mixin block-tablet-margin {
  margin: $mobile-component-padding 0;
  padding: 0 $tablet-component-padding;
}

@mixin element-mobile-padding {
  padding-top: $mobile-component-padding;
  padding-bottom: $mobile-component-padding;
}

@mixin element-tablet-padding {
  padding-top: $tablet-component-padding;
  padding-bottom: $tablet-component-padding;
}

@mixin header-mobile-padding {
  padding: $mobile-pre-heading-padding $mobile-component-padding $mobile-post-heading-padding;
}

@mixin header-tablet-padding {
  padding: $tablet-pre-heading-padding $tablet-component-padding $tablet-post-heading-padding;
}

// Font header mixins
@mixin font-page-header {
  font-size: 1.5rem; //24px
  line-height: 2rem; //32px
  font-weight: 700;
  color: $primary-font-color;

  @include tablet {
    font-size: 2.063rem; //33px
    line-height: 2.75rem; //44px
  }
}

@mixin font-section-header {
  font-size: 0.75rem; //12px
  line-height: 1.25rem; //20px
  font-weight: 700;
  color: $primary-font-color;
  
  @include tablet {
    font-size: 0.85rem; //16px
    line-height: 1.25rem; //20px
  }
}

@mixin font-subheader {
  font-size: 0.813rem; //13px
  line-height: 1.125rem; //18px
  font-weight: 700;
  color: $primary-font-color;

  @include desktop {
    font-size: 0.875rem; //14px
    line-height: 1.375rem; //22px
  }
}

@mixin font-body {
  font-size: 0.813rem; //13px
  line-height: 1.125rem; //18px
  font-weight: 400;
  color: $primary-font-color;

  @include tablet {
    font-size: 0.875rem; //14px
    line-height: 1.375rem; //22px
  }
}

@mixin font-video-plus {
  font-size: 0.813rem; //13px
  line-height: 1.125rem; //18px
  font-weight: 400;
  color: $primary-font-color;
  
  @include tablet {
    font-size: 0.74rem; //13px
    line-height: 1.375rem; //22px
  }
}

@mixin font-label-button {
  font-size: 0.75rem; //12px
  line-height: 1.25rem; //20px
  font-weight: 700;

  @include tablet {
    font-size: 0.75rem; //12px
    line-height: 1.25rem; //20px
  }
}

@mixin avatar {
  height: $avatar-mobile-height;
  object-fit: cover;
  object-position: 15%;
  border-radius: $avatar-border-radius;
  aspect-ratio: 1;

  @include tablet {
    height: $avatar-tablet-height
  }
};

@mixin button {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 1.25rem;
  text-align: center;
  border: none;
  height: $cta-height;
  width: $cta-mobile-width;
  border-radius: $cta-border-radius;
  background-color: $cta-background-color;
  
  &:hover {
    background-color: $cta-hover-color;
    cursor: pointer;
  }
  
  @include tablet {
    width: $cta-tablet-min-width;
    min-width: $cta-tablet-min-width;
  }
}

@mixin button-text {
  color: $cta-text-color;
  text-decoration: none;
}

@mixin button-alt {
  @include button;
   background-color: $cta-text-color;
   color: $cta-background-color;

   &:hover {
    background-color: $mercury;
   }
}

@mixin form {
  font-family: $root-font-stack;
  height: $form-mobile-height;
  border-radius: $form-border-radius;
  padding: $form-mobile-padding;
  outline: none;
  background-color: $form-background-color;
  border: $form-border-default-width solid $form-border-default-color;
  
  &::placeholder {
    color: $brainFlix-darkBlack;
  }

  &:focus {
    border-color: $brainFlix-blue;
  }
}

@mixin divider-bottom  {
  border-bottom: 1px solid $mercury;
}

@mixin divider-top  {
  border-top: 1px solid $mercury;
}