@use './variables' as *;
@use './colors' as *;


// Padding for block, element and headers
@mixin block-mobile-margin {
  margin: $mobile-component-padding;
}
@mixin block-tablet-margin {
  margin: $mobile-component-padding $tablet-component-padding;
}
@mixin element-mobile-padding {
  padding-top: $mobile-component-padding;
  padding-bottom: $mobile-component-padding;
}
@mixin element-tablet-padding {
  padding-top: $tablet-component-padding;
  padding-bottom: $tablet-component-padding;

}
@mixin header-mobile-padding {
  padding: $mobile-pre-heading-padding $mobile-component-padding $mobile-post-heading-padding;
}
@mixin header-tablet-padding {
  padding: $tablet-pre-heading-padding $tablet-component-padding $tablet-post-heading-padding;
}

// Font header mixins
@mixin font-page-header-mobile {
  @include header-mobile-padding;
  font-size: 1.5rem; //24px
  line-height: 2rem; //32px
  font-weight: 700;
  color: $primary-font-color;
}
@mixin font-page-header-tablet {
  @include header-tablet-padding;
  font-size: 2.063rem; //33px
  line-height: 2.75rem; //44px
  font-weight: 700;
  color: $primary-font-color;
}
@mixin font-section-header-mobile {
  font-size: 0.75rem; //12px
  line-height: 1.25rem; //20px
  font-weight: 700;
  color: $primary-font-color;
}
@mixin font-section-header-tablet {
  font-size: 0.75rem; //12px
  line-height: 1.25rem; //20px
  font-weight: 700;
  color: $primary-font-color;
}
@mixin font-subheader-mobile {
  @include header-mobile-padding;
  font-size: 0.813rem; //13px
  line-height: 1.125rem; //18px
  font-weight: 700;
  color: $primary-font-color;
}
@mixin font-subheader-tablet {
  @include header-tablet-padding;
  font-size: 0.875rem; //14px
  line-height: 1.375rem; //22px
  font-weight: 700;
  color: $primary-font-color;
}
@mixin font-body-mobile {
  font-size: 0.813rem; //13px
  line-height: 1.125rem; //18px
  font-weight: 400;
  color: $primary-font-color;
}
@mixin font-body-tablet {
  font-size: 0.875rem; //14px
  line-height: 1.375rem; //22px
  font-weight: 400;
  color: $primary-font-color;
}
@mixin font-label-button-mobile {
  font-size: 0.75rem; //12px
  line-height: 1.25rem; //20px
  font-weight: 700;
}
@mixin font-label-button-tablet {
  font-size: 0.75rem; //12px
  line-height: 1.25rem; //20px
  font-weight: 700;
}

@mixin avatar {
  height: $avatar-mobile-height;
  object-fit: cover;
  object-position: 15%;
  border-radius: $avatar-border-radius;
  aspect-ratio: 1;
};
@mixin button {
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 1.25rem;
  height: $cta-height;
  width: $cta-mobile-width;
  border-radius: $cta-border-radius;
  border: none;
  background-color: $cta-background-color;
  color: $cta-text-color;

  &:hover {
    background-color: $cta-hover-color;
  }
}
@mixin form {
  font-family: $root-font-stack;
  height: $form-mobile-height;
  border-radius: $form-border-radius;
  padding: $form-mobile-padding;
  outline: none;
  background-color: $form-background-color;
  border: $form-border-default-width solid $form-border-default-color;
}
@mixin divider {
  border-bottom: 1px solid $mercury;
}