@use "./_colors"as *;
@use "./typography"as *;

//mobile dimensions, margins & padding
$mobile-component-padding: 1rem; //16px
$mobile-pre-heading-padding: 1.5rem; //24px
$mobile-post-heading-padding: 1rem; //16px
$media-mobile-max-height: 11.25rem;
//tablet dimensions, margins & padding
$tablet-component-padding: 2rem; //24px
$tablet-pre-heading-padding: 2.25rem; //36px
$tablet-post-heading-padding: 1.5rem; //24px
$tablet-comment-vertical-padding: 1.5rem;
$media-tablet-max-height: 24.5rem;
//desktop dimensions, margins & padding
$desktop-main-horizontal-padding: 8rem;
$desktop-upload-horizontal-padding: 8rem;
$media-desktop-max-height: 29.922rem;

//font
$root-font-stack: "AvenirNext",
"Montserrat",
sans-serif;
$root-font-size: 100%;

//colors, global
$primary-font-color: $brainFlix-black;
$secondary-font-color: $silver;
//colors, specific
$label-color: $silver;
$divider-color: $mercury;
$video-color: $brainFlix-darkBlack;

//nav logo details
$logo-max-height: 1.563rem; // 25px
$logo-max-width: 7.5rem; //120px

//button details
$cta-height: 2.5rem; //40px
$cta-mobile-width: 100%;
$cta-tablet-min-width: 9.375rem; //150px
$cta-tablet-horizontal-padding: 2rem; //32px
$cta-border-radius: 0.25rem; //4px
$cta-background-color: $brainFlix-blue;
$cta-hover-color: $brainFlix-darkBlue;
$cta-text-color: $white;

//form details
$form-mobile-height: 2.25rem; //36px
$form-tablet-height: 2.5rem; //40px
$form-min-width: 15rem; //240px
$form-width: 100%;
$form-mobile-padding: 0.75rem; //12px
$form-tablet-padding: 1rem; //16px
$form-border-radius: 0.25rem; //4px
$form-label-space: 0.25rem; //4px
$form-color: $brainFlix-black;
$form-background-color: $alabaster;
$form-border-default-color: $mercury;
$form-border-default-width: 0.063rem; //1px
$form-border-active-color: $brainFlix-blue;
$form-border-active-width: 0.125rem; //2px
$form-border-error-color: #D22D2D;
$form-border-error-width: 0.063rem; //1px

//avatar details
$avatar-mobile-height: 2.25rem; //36rem
$avatar-tablet-height: 2.5rem; //40rem
$avatar-placeholder-color: $mercury;
$avatar-border-radius: 50%;