@use '../styles/partials/variables' as *;
@use '../styles/partials/breakpoints' as *;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $root-font-stack;
  font-size: $root-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main--desktop {
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.main__left--desktop {
  @include desktop {
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
  }
}