@use '../styles/partials/typography' as *;

body {
  margin: 0;
  font-family: $root-font-stack;
  font-size: $root-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
