@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.comment {
  @include divider-top ;
  display: flex;
  padding: $mobile-component-padding 0;
  
  &__avatar {
    @include avatar;
    
    &--blank {
      @include avatar;
      background-color: $mercury;
    };
  };

  &__icon {
    margin-top: $form-label-space;
    height: 1.25rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__right {
    margin-left: $mobile-component-padding;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  };

  &__name {
    @include font-subheader-mobile;
    margin: 0;
    box-sizing: border-box;
    width: fit-content;
  };
  
  &__date {
    @include font-body-mobile;
    color: $silver;
    margin: 0;
    box-sizing: border-box;
    width: fit-content;
  };
  
  &__content {
    @include font-body-mobile;
    margin-top: $form-label-space;
    color: $brainFlix-darkBlack;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
  };

  @include tablet {
    padding: $tablet-comment-vertical-padding 0;
  }

  @include desktop {
    margin-right: 0;
    padding-right: $tablet-component-padding;

  }
}