@use '../../styles/partials/mixins'as *;
@use '../../styles/partials/variables'as *;
@use '../../styles/partials/colors'as *;
@use '../../styles/partials/breakpoints'as *;

.comment {
  @include divider-top;
  display: flex;
  padding: $mobile-component-padding 0;

  @include tablet {
    padding: $tablet-comment-vertical-padding 0 $mobile-component-padding;
  }

  @include desktop {
    margin-right: 0;
    padding-right: $tablet-component-padding;
    border-width: 2px;

  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    @include avatar;

    &--blank {
      @include avatar;
      background-color: $mercury;
    }

    ;
  }

  ;

  &__icon {
    display: block;
    height: 1.05rem;
    filter: opacity(0.45);
  }

  &__icon-button {
    margin-top: 0.5rem;
    width: $avatar-mobile-height;
    height: 1.75rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: $alabaster;
    border-radius: $cta-border-radius;
    border: 1.5px solid $alabaster;
    line-height: 0;

    &:hover {
      cursor: pointer;
      background-color: $mercury;
      border: 1.5px solid $brainFlix-black;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.55;
      border-color: $mercury;
      background-color: $alabaster;
    }

    @include tablet {
      width: $avatar-tablet-height;
      height: 1.9rem;
    }
  }

  &__right {
    padding-left: $mobile-component-padding;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    @include tablet {
      padding-left: $tablet-comment-vertical-padding;
    }

    @include desktop {
      padding-left: $tablet-component-padding;
    }
  }

  ;

  &__name {
    @include font-subheader;
    margin: 0;
    box-sizing: border-box;
    width: fit-content;
  }

  ;

  &__date {
    @include font-body;
    color: $silver;
    margin: 0;
    box-sizing: border-box;
    width: fit-content;
  }

  ;

  &__content {
    @include font-body;
    padding-top: $form-label-space;
    color: $brainFlix-darkBlack;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
  }

  ;
}
