@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.comment {
  @include divider-top ;
  display: flex;
  padding: $mobile-component-padding 0 ;

  @include tablet {
    padding: $tablet-comment-vertical-padding 0 $mobile-component-padding;
  }

  @include desktop {
    margin-right: 0;
    padding-right: $tablet-component-padding;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  &__avatar {
    @include avatar;
    
    &--blank {
      @include avatar;
      background-color: $mercury;
    };
  };

  &__icon {
    margin-top: 25%;
    padding: 0.1rem 20%;
    background-color: $alabaster;
    border-radius: $cta-border-radius;
    border: 1.5px solid $alabaster;
    height: 1.15rem;
    filter: opacity(0.35);
    
    &:hover {
      cursor: pointer;
      background-color: $mercury;
      border: 1.5px solid $brainFlix-black;
    }

    @include tablet {
      height: 1.25rem;
      margin-top: 0.5rem;
    }
  }

  &__right {
    padding-left: $mobile-component-padding;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    @include tablet {
      padding-left: $tablet-comment-vertical-padding;
    }
    @include desktop {
      padding-left: $tablet-component-padding;
    }
  };

  &__name {
    @include font-subheader-mobile;
    margin: 0;
    box-sizing: border-box;
    width: fit-content;
  };
  
  &__date {
    @include font-body-mobile;
    color: $silver;
    margin: 0;
    box-sizing: border-box;
    width: fit-content;
  };
  
  &__content {
    @include font-body-mobile;
    padding-top: $form-label-space;
    color: $brainFlix-darkBlack;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
  };
}