@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;

.next-video {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: $mobile-component-padding;
  padding-right: $mobile-component-padding;
  padding-bottom: 0.75rem;

  @include tablet {
    padding-left: $tablet-component-padding;
    padding-right: $tablet-component-padding;
  }

  @include desktop {
    display: inline-flex;
    box-sizing: border-box;
    border-left: 2px solid $divider-color;
    padding-left: $tablet-comment-vertical-padding;
    padding-right: 0;
    padding-bottom: 3.5rem;
    flex: 0.42;
  }

  &__header {
    @include font-label-button;
    padding-top: $mobile-post-heading-padding;
    padding-bottom: calc($mobile-post-heading-padding / 2);
    margin: 0;
    width: fit-content;
    color: $silver;
    
    @include tablet {
      padding-top: $tablet-post-heading-padding;
      padding-bottom: $tablet-post-heading-padding;
      color: $silver;
    }
  }
}