@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/breakpoints' as *;

.nav {
  @include block-mobile-padding;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
  &__logo {
    max-height: $logo-max-height;
    max-width: $logo-max-width;

    @include tablet {
      vertical-align: middle;
    }
  };
  
  &__form {
    box-sizing: border-box;
    width: 100%;
    
    @include tablet {
      width: 80%;
      display: flex;
      justify-content: flex-end;
    }
  };

  &__mobile-form {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    @include tablet {
      width: initial;
    }
  }

  &__search {
    @include form;
    @include block-mobile-padding;
    margin-left: 0;
    box-sizing: border-box;
    width: 100%;

    @include tablet {
      @include block-tablet-padding;
      width: $form-min-width;
      margin: 0 $tablet-component-padding;
    }
  };

  &__avatar {
    @include avatar;
    vertical-align: middle;

    @include tablet {
      margin: 0 0 0 $tablet-component-padding;
    }
  };

  &__button {
    @include button;
    @include label-button-mobile;
    background-image: url('../../assets/Icons/upload.svg');

    &--tablet {
      display: none;

      @include tablet {
        @include button;
        @include label-button-mobile;
        display: inline-block;
        background-image: url('../../assets/Icons/upload.svg');
        width: $cta-tablet-min-width;
        padding: 0 $cta-tablet-horizontal-padding;
      }
    }
    @include tablet {
      display: none;
    }
  };

  @include tablet {
    @include block-tablet-padding;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
};